<footer class='row'>
  <div class='footer-right'>
    <div class='footer-right-1 footer-nav'>
      <a href='http://shop.itsyourcow.com/products/1-4-of-a-beef'>Buy A Cow!</a>
      <br>
      <a href='{{ siteUrl('thewhy') }}'>The Why</a>
      <br>  
      <a href='{{ siteUrl('thebenefits') }}'>The Benefits</a>
      <br>
      <a href='{{ siteUrl('theprocess') }}'>The Process</a>
    </div>

    <div class='footer-right-2'>
      <a href='{{ siteUrl('faq') }}'>FAQ</a>
      <br>
      <a href='{{ siteUrl('contact-us') }}'>Contact Us</a>
      <br>  
      <a href='{{ siteUrl('news') }}'>News</a>
    </div>

<!--<div class='footer-right-3'>
      <a href='{{ url('support') }}'>Support</a>
      <br>
      <a href='{{ url('returns') }}'>Returns</a>
      <br>  
      <a href='{{ url('shipping') }}'>Shipping</a>
    </div>

    <div class='footer-right-4'>
      <a href='{{ url('wholesale') }}'>Wholesale</a>
      <br>
      <a href='{{ url('terms-of-service') }}'>Terms Of Service</a>
    </div>-->
  
    <div class='footer-right-bottom'>
      <div class='bottom-left'>
        <p><strong>Follow Us Online</strong></p>
        <p>2016 It's Your Cow LLC.</p>
      </div>
      
      <div class='footer-social'>
        <a title='Its Your Cow Instagram' href='#'><i class="fa fa-lg fa-instagram"></i></a>
        &nbsp;
        <a title='Its Your Cow Facebook' target='_blank' href='https://www.facebook.com/IYCow'><i class="fa fa-lg fa-facebook"></i></a>
      </div>
    </div>
  </div>

  <div class='footer-left'>
    <p>The best way to buy certified organic, certified grassfed beef.</p>
    <a href='{{ siteUrl }}'><img src='{{ siteUrl }}img/logo-footer.png'></a>
  </div>
</footer>