<footer class='row'>
  <div class='footer-right'>
    <div class='footer-right-1 footer-nav'>
      <a href='http://its-your-cow.myshopify.com/products/1-4-of-a-beef'>Buy A Cow!</a>
      <br>
      <a href='{{ url('thewhy.html') }}'>The Why</a>
      <br>  
      <a href='{{ url('thebenefits.html') }}'>The Benefits</a>
      <br>
      <a href='{{ url('theprocess.html') }}'>The Process</a>
    </div>

    <div class='footer-right-2'>
      <a href='{{ url('faq') }}'>FAQ</a>
      <br>
      <a href='{{ url('contact-us') }}'>Contact Us</a>
      <br>  
      <a href='{{ url('news') }}'>News</a>
    </div>

<!--     <div class='footer-right-3'>
      <a href='{{ url('support') }}'>Support</a>
      <br>
      <a href='{{ url('returns') }}'>Returns</a>
      <br>  
      <a href='{{ url('shipping') }}'>Shipping</a>
    </div>

    <div class='footer-right-4'>
      <a href='{{ url('wholesale') }}'>Wholesale</a>
      <br>
      <a href='{{ url('terms-of-service') }}'>Terms Of Service</a>
    </div> -->
  
    <div class='footer-right-bottom'>
      <div class='bottom-left'>
        <p><strong>Follow Us Online</strong></p>
        <p>2016 It's Your Cow LLC.</p>
      </div>
      
      <div class='footer-social'>
        <a title='Its Your Cow Instagram' href='#'><i class="fa fa-lg fa-instagram"></i></a>
        &nbsp;
        <a title='Its Your Cow Facebook' href='#'><i class="fa fa-lg fa-facebook"></i></a>
      </div>
    </div>
  </div>

  <div class='footer-left'>
    <p>The best way to buy certified organic, certified grassfed beef.</p>
    <img src='{{ siteUrl }}img/logo-footer.png'>
  </div>
</footer>