<header class="header">
  <a href='{{ siteUrl }}index.php' class='header-logo'><img src='{{ siteUrl }}img/logo.png'></a>
  <nav class="header-nav">
    <ul>
      <li><a href='{{ url('thewhy.html') }}'>The Why</a></li>
      <li><a href='{{ url('thebenefits.html') }}'>The Benefits</a></li>
      <li><a href='{{ url('theprocess.html') }}'>The Process</a></li>
      <li><a class='button nav-cta' href='http://its-your-cow.myshopify.com/products/1-4-of-a-beef'>Buy A Cow!</a></li>
      <li><a title='Shopping Cart' href='http://its-your-cow.myshopify.com/cart'><i class="fa fa-lg fa-shopping-cart"></i></a></li>
    </ul>
  </nav>
</header>

<div class="navbutton">
  <a class="btn-open" href="#"></a>
</div>

<div class="overlay">
  <a href='{{ siteUrl }}' class='header-logo-mobile'><img src='{{ siteUrl }}img/logo-white.png'></a>
  <div class="wrap">
    <ul>
      <li><a href='http://its-your-cow.myshopify.com/products/1-4-of-a-beef'>Buy A Cow!</a></li>
      <li><a href='{{ url('thewhy.html') }}'>The Why</a></li>
      <li><a href='{{ url('thebenefits.html') }}'>The Benefits</a></li>
      <li><a href='{{ url('theprocess.html') }}'>The Process</a></li>
    </ul>
  </div>
</div>