.product-header {
	position: relative;
}

.product-info-mobile {
	padding: 50px 0 20px 0;
}

	@media (min-width: 800px) {
	.product-info-mobile {
	display: none;
	}
	}

	@media (max-width: 799px) {
	.product-info-desktop {
	display: none;
	}
	}

.product-info {
	position: relative;
	height: 100%;
	padding: 0 30px;
}

	@media (min-width: 800px) {
	.product-info {
	position: absolute;
	height: 100%;
	padding: 0px;
	}
	}

.product-info {
	width: 100%;
	padding-top: 35px;
}

	@media (min-width: 800px) {
	.product-info {
	width: 50%;
	right: 0;
	padding-top: 75px;
	}
	}


.product-container {
	padding: 75px 50px;
}

.container-header-product {
	padding-top: 50px;
	padding-bottom: 50px;
}

h5.header {
	text-align: center;
	padding-bottom: 10px;
}

.product h1.header {
	padding-bottom: 30px;
}

.product-filter {
	padding: 0 20% 30px 20%;
}

	@media (min-width: 800px) {
	.product-filter {
		padding: 0 25%;
	}
	}

.product-main-img {
	background: url(../../img/2.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 550px;
    padding: 50px;
    text-align: center;
}

	@media (min-width: 800px) {
	.product-main-img {
	width: 50%;
    height: 700px;
	}
	}


.product-addtocart {
	margin-top: 30px;
	width: 100%;
}

.product-share {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

	@media (min-width: 800px) {
	.product-share {
	position: absolute;
	bottom: 0px;
	}
	}

.product-share .fa {
	padding: 0 5px;
}


.product-price {
	width: 100%;
	padding: 0;
}

	@media (min-width: 800px) {
	.product-price {
	padding: 70px 0 0 0;
	}	
	}

.product-price ul {
	list-style: none;
}

.product-price ul li, .product-price ul li h5 {
	display: inline-block;
	padding: 0 25px;
}

.btn-addtocart {
 	padding: 5px 100px 2px;
}

.cardtypes img {
	width: 300px;
	margin: 0 auto;
	padding-top: 40px;
}

	@media (min-width: 800px) {
	.cardtypes img {
		padding-top: 20px;
	}
	}

.product-share ul {
	list-style: none;
}

.product-share ul li, .product-share ul li h5 {
	display: inline;
}

.product-details {
	background-color: #efefef;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.product-info p {
	font-size: 14px;
}

.weaccept {
	border-top: 1px solid #ddd;
	text-align: center;
	margin-top: 20px;
	padding-top: 30px;
}

.product-meat {
	padding-bottom: 40px;
}


.product-list {
	width: 100%;
}

@media (min-width: 800px) {
.product-list {
	width: 50%;
	float: left;
}	
}

.product-list li {
	margin-bottom: 0rem;
	margin-left: 16px;
}

.product-list li p {
	margin-bottom: 5px;
}

.product-disc {
	font-size: 14px;
}

.product-dry-age, .product-cuts {
	margin-top: 100px
}