{#
 # thewhy template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

{% set image = entry.interiorHeaderImage.first() %}
  {% if image %}
  <section class='interior-header interior-header-thewhy' style='background-image:url({{ image.getURL() }})'>
  {% endif %}
    <h1><span class='interior'>{{ entry.heroHeadline }}</span></h1>
  </section>

  <section class='tan'>
    <div class='container'>
      <div class='row'>
        <div class='six columns jacobandson'>
          {% for asset in entry.introJacob %}
          <img src='{{ asset.url }}' alt='{{ asset.title }}'>
          {% endfor %}
        </div>

        <div class='six columns'>
          <p class='small'><strong><span class='red-txt'>{{ entry.introHeadline }}</span></strong></p>
          <p class='small'>{{ entry.introBody }}</p>    
        </div>
      </div>
    </div>
  </section>

  <div class='row'>
    {% for asset in entry.halfWidthImageLeft %}
    <img class='fullsix' src='{{ asset.url }}' alt='{{ asset.title }}'>
    {% endfor %}

    {% for asset in entry.halfWidthImageRight %}
    <img class='fullsix' src='{{ asset.url }}' alt='{{ asset.title }}'>
    {% endfor %}
  </div>

  <section class='red'>
    <div class="container row">
      {% for asset in entry.state %}
      <img class='four columns thestate' src='{{ asset.url }}' alt='{{ asset.title }}'>
      {% endfor %}
      <div class='eight columns'>
        <p class='white'>{{ entry.boettcherInfo }}</p>   
      </div>
    </div>
  </section>

  <div class='row'>
    {% for asset in entry.fullWidthImage %}
    <img class='twelve columns' src='{{ asset.url }}' alt='{{ asset.title }}'>
    {% endfor %} 
  </div>

  <section class='tan'>
  <div class="container row">
    <div class='ten columns offset-by-one'>
      <h1>{{ entry.countryHeadline }}</h1>
      <p>{{ entry.countryBody }}</p>    
    </div>
  </div>
  </section>

{% include "_includes/cta" %}
{% endblock %}